@import "tailwindcss";
@plugin '../tailwind.icons.js';

/* CUSTOM SCROLLBAR */
:root {
  --scroll-track: #000000;
  --scroll-thumb: oklch(55.34% 0.1739 38.4);
  --scroll-thumb-hover: #6b7280;
  --scroll-size: 22px;
  scrollbar-gutter: stable;

  /* Colors */
  --color-foreground: oklch(79.94% 0.0085 278.6);
  --color-foreground-darker: oklch(52.94% 0.0191 274.56);
  --color-button-shadow: oklch(0.36 0.039 274.56);
  --color-primary: oklch(55.34% 0.1739 38.4);
  --color-accent: oklch(77.9% 0.1607 61.43);
  --color-secondary: oklch(72.22% 0.1358 150.86);
  --color-background: oklch(0 0 308);
  --color-card: oklch(28.46% 0.0079 264.44);
  --color-alt: oklch(30.52% 0.0094 268.36);
  --color-border: oklch(37.22% 0.0122 273.08);
}
*::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}
*::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
*::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border: 3px solid var(--scroll-track);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

@theme {
  --font-michroma: "Michroma", sans-serif;
  --font-display: "Archivo Variable", ui-sans-serif, system-ui, sans-serif;

  --color-foreground: var(--color-foreground);
  --color-foreground-darker: var(--color-foreground-darker);
  --color-button-shadow: var(--color-button-shadow);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-card: var(--color-card);
  --color-alt: var(--color-alt);
  --color-border: var(--color-border);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .site-noise-overlay {
    background-image: url("/src/lib/images/noise.png");
  }
}
